.title {
  font-size: 3rem;
}

.content {
  font-size: 1.8rem;
  line-height: 2;
  word-wrap: break-word;
}

.link {
  color: #2F89DE;
}

.link:focus,
.link:hover {
  color: #30699e ;
  transition: color 0.3s ease;
}